<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>Ajuda</title>
    </head>

    <body>
        <center><h1>Ajuda do Passagens Onibus</h1></center>
        <h3>Não posso ajudar no momento. Entre em contato com o suporte técnico.</h3>
    </body>
</html>